<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="vendor/autoload.php"
         strict="true"
         verbose="true">
 <testsuite name="Ling util test">
  <directory suffix="Test.php">./tests/Ling/</directory>
 </testsuite>
 <filter>
  <whitelist addUncoveredFilesFromWhitelist="true">
   <directory suffix=".php">./src/Ling/</directory>
  </whitelist>
 </filter>
</phpunit>
